@use "base/mixins" as m;
@use "base/variables" as v;

.contenedor-app {
    @include m.desktop {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        min-height: 100vh;
    }

    .imagen {
        height: 30rem;
        background-image: url(../img/1.jpg);
        background-size: cover;
        background-position: center center;

        @include m.desktop {
            height: auto;
        }
    }

    .app {
        width: 100%;
        margin: 0 auto;
        padding: 3rem 3rem;
        @include m.tablet {
            overflow: scroll;
            overflow-x: hidden;
        }
        ::-webkit-scrollbar {
            width: 1rem;
        }
    }
}

.barra {
    margin-top: 5rem;
    @include m.tablet {
        margin-top: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    p {
        text-align: center;
    }

    .boton {
        @include m.boton(v.$negro, v.$blanco);
    }
}

.barra-servicios {
    margin-bottom: v.$separacion;
    @include m.tablet {
        display: flex;
        justify-content: space-between;

    }

    .boton {
        margin: 0 0 1rem 0;
    }
}